<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" content="firejive,fire,firespinning,performance" />
		<meta name="description" content="FireJive Performance Troupe" />
		
		<link type="image/png" rel="apple-touch-icon" href="/Firejive/img/icon/57x57.png"  />
		<link type="image/png" rel="apple-touch-icon" href="/Firejive/img/icon/76x76.png" sizes="76x76" />
		<link type="image/png" rel="apple-touch-icon" href="/Firejive/img/icon/120x120.png" sizes="120x120" />
		<link type="image/png" rel="apple-touch-icon" href="/Firejive/img/icon/152x152.png" sizes="152x152" />
		<link type="image/png" rel="icon" href="/Firejive/img/icon/128x128.png" sizes="128x128" />
		
		<link type="text/css" rel="stylesheet" href="/Firejive/css/normalize.css" />
		<link type="text/css" rel="stylesheet" href="/Firejive/css/site.css" />
    </head>
    <body>
        <div id="container" class="clearfix">
            <header>
                <a href="/Firejive/contact.html" id="headerContactLink">
                    <div>
                        Book your event!
                    </div>
                </a>
            </header>
            <nav>
                <ul>
                    <li>
                        <a href="/Firejive/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/Firejive/pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="/Firejive/upcoming.html">Upcoming Performances</a>
                    </li>
                    <li>
                        <a href="/Firejive/previous.html">Previous Performances</a>
                    </li>
                    <li>
                        <a href="/Firejive/about.html">About Us</a>
                    </li>
                    <li>
                        <a href="/Firejive/contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
            <div id="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>